
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3 style="color:black;">You're not authorized to access this page. If you have logged in as different user then <a href="@Url.Action("Logout","Authentication")">Logout</a> current and login with your credentials.</h3>*@
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have persmission to view this resource</h6>
    <img src="~/images/noaccess.png" style="height:300px; width:900px" />
</div>
